.env
__pycache__/
*.pyc

# === Fichiers d'identification (lourds, generes) ===
# Rosbags
identification/*/
*.csv

# Fichiers binaires Simulink/MATLAB
*.slx
*.mat
*.slxc
*.asv

# Fichiers Python compiles
__pycache__/
*.pyc

#Images
*.png
*.jpeg
